
# Q1 ANSWER

In [10]:
list1 = [1,2,3,4, [44,55,66, True], False, (34,56,78,89,34), {1,2,3,3,2,1}, {1:34, "key2": [55, 67, 78, 89], 4: (45,  22, 61, 34)}, [56, 'data science'], 'Machine Learning']

In [11]:
list1

[1,
 2,
 3,
 4,
 [44, 55, 66, True],
 False,
 (34, 56, 78, 89, 34),
 {1, 2, 3},
 {1: 34, 'key2': [55, 67, 78, 89], 4: (45, 22, 61, 34)},
 [56, 'data science'],
 'Machine Learning']

In [12]:
def flattenlist(list1):  
    flatlist = []    
    for item in list1:  
        if type(item) is list: 
            for element in item:  
                flatlist.append(element)  
        else:  
            flatlist.append(item)  
    return flatlist

In [48]:
nestedlist = list1 
print('list2:', nestedlist) 
print('Converted Flat List:',flattenlist(nestedlist))

list2: [1, 2, 3, 4, [44, 55, 66, True], False, (34, 56, 78, 89, 34), {1, 2, 3}, {1: 34, 'key2': [55, 67, 78, 89], 4: (45, 22, 61, 34)}, [56, 'data science'], 'Machine Learning']
Converted Flat List: None

In [28]:
print('Converted Flat List:',flattenlist(nestedlist))

Converted Flat List: [1, 2, 3, 4, 44, 55, 66, True, False, (34, 56, 78, 89, 34), {1, 2, 3}, {1: 34, 'key2': [55, 67, 78, 89], 4: (45, 22, 61, 34)}, 56, 'data science', 'Machine Learning']

In [15]:
flattenlist(nestedlist)

[1,
 2,
 3,
 4,
 44,
 55,
 66,
 True,
 False,
 (34, 56, 78, 89, 34),
 {1, 2, 3},
 {1: 34, 'key2': [55, 67, 78, 89], 4: (45, 22, 61, 34)},
 56,
 'data science',
 'Machine Learning']

In [16]:
t1=tuple(flattenlist(nestedlist))

In [17]:
t1

(1,
 2,
 3,
 4,
 44,
 55,
 66,
 True,
 False,
 (34, 56, 78, 89, 34),
 {1, 2, 3},
 {1: 34, 'key2': [55, 67, 78, 89], 4: (45, 22, 61, 34)},
 56,
 'data science',
 'Machine Learning')

In [45]:
Input_Sentence ="I want to become a Data Scientist"

In [47]:
Input_Sentence

'I want to become a Data Scientist'

In [19]:
t1

(1,
 2,
 3,
 4,
 44,
 55,
 66,
 True,
 False,
 (34, 56, 78, 89, 34),
 {1, 2, 3},
 {1: 34, 'key2': [55, 67, 78, 89], 4: (45, 22, 61, 34)},
 56,
 'data science',
 'Machine Learning')

In [30]:
def is_integer(x):
    return not isinstance(x, bool) and isinstance(x, int)

def get_numbers(o):
    if isinstance(o, dict):
        for k, v in o.items():
            if is_integer(k):
                yield k
            yield from get_numbers(v)
    elif isinstance(o, (list, tuple, set)):
        for v in o:
            if is_integer(v):
                yield v
            else:
                yield from get_numbers(v)
    else:
        if is_integer(o):
            yield o

In [41]:
print(list(get_numbers(list1)))

[1, 2, 3, 4, 44, 55, 66, 34, 56, 78, 89, 34, 1, 2, 3, 1, 34, 55, 67, 78, 89, 4, 45, 22, 61, 34, 56]

In [33]:
list1

[1,
 2,
 3,
 4,
 [44, 55, 66, True],
 False,
 (34, 56, 78, 89, 34),
 {1, 2, 3},
 {1: 34, 'key2': [55, 67, 78, 89], 4: (45, 22, 61, 34)},
 [56, 'data science'],
 'Machine Learning']

# Q2 ANSWER ENCRYPT MESSAGE

In [49]:
 def encrypt_message(message):
    output = ""
    for char in message:
        if char.isalpha():
            encrypted_char = chr(ord('a') + ord('z') - ord(char.lower()))
            if char.isupper():
                encrypted_char = encrypted_char.upper()
            output += encrypted_char
        elif char.isspace():
            output += "$"
        else:
            output += char
    return output

In [50]:
encrypt_message("I want to become a Data Scientist")

'R$dzmg$gl$yvxlnv$z$Wzgz$Hxrvmgrhg'

In [51]:
encrypt_message("avinash")

'zermzhs'